*{
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    color: cadetblue;
}

li { 
    color: coral;
}

.my-class { 
    color: darkgreen;
}

#another-id{
    color: red;
}

li a { 
    color: black;
    text-decoration: none;
}